@{
    ViewData["Title"] = "PageUnderConstruction";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Traveler.styles.css" asp-append-version="true" />
    
</head>

<body>
    <div class="center-container">
        <h1 id="constructionText">Сторінка в розробці</h1>
    </div>
    
</body>

<footer>
</footer>
