@using Traveler.Models.ViewModels
@model RegisterViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Traveler.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="loginBlock">
        <form id="login" asp-asp-controller="Account" asp-action="SignIn" method="post">
            <h1>Увійти в акаунт</h1>
            
            <div class="text-danger">
                @Html.ValidationMessage("wrongLog")
            </div>

            <label for="email">Електронна адреса</label>
            <span asp-validation-for="Email" class="text-danger"></span>
            <input type="text" asp-for="Email" id="email" name="email" class="form-control" placeholder="Введіть свою електронну адресу" />

            <label for="password">Пароль</label>
            <span asp-validation-for="Password" class="text-danger"></span>
            <input type="text" asp-for="Password" id="password" name="password" class="form-control" placeholder="Згадайте пароль" />

            <button type="submit">Увійти</button>
        </form>
    </div>
</body>

<footer>

</footer>

