@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Traveler.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="loginBlock">
        <form id="login" asp-asp-controller="Account" asp-action="SignIn" method="post">
            <h1>Увійти в акаунт</h1>
            <label for="email">Електронна адреса</label>
            <input type="text" id="email" name="email" placeholder="Введіть свою електронну адресу" />
            <label for="password">Пароль</label>
            <input type="text" id="password" name="password" placeholder="Вигадайте пароль" />
            <button type="submit">Увійти</button>
        </form>
    </div>
</body>

<footer>

</footer>

