<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Traveler</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Traveler.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="headerMain">
            <div class="headerTop">
                <a id="homePage" href="#"><img src="~/svg/TravelerLogo.svg" alt="HomePage" /></a>
                <div class="headerTopLogin">
                    <a class="login">Зареєструватися</a>
                    <a class="login">Увійти</a>
                </div>
            </div>
            <nav class="headerBottom">
                <ul id="mainCategories">
                    <li>
                        <div class="category-box">
                            <a href="#"><img src="~/svg/bed.svg" alt="Кровать" /></a>
                        </div>
                    </li>
                    <li>
                        <div class="category-box">
                            <a href="#"><img src="~/svg/plane.svg" alt="Самолет"></a>
                        </div>
                    </li>
                    <li>
                        <div class="category-box">
                            <a href="#"><img src="~/svg/car.svg" alt="Автомобиль" /></a>
                        </div>
                    </li>
                    <li>
                        <div class="category-box">
                            <a href="#"><img src="~/svg/compass.svg" alt="Компасс" /></a>
                        </div>
                    </li>
                    <li>
                        <div class="category-box">
                            <a href="#"><img src="~/svg/taxi.svg" alt="Такси" /></a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Traveler
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
