@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@{
    var user = User.Identity;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Traveler</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Traveler.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="headerMain">
            <div class="headerTop">
                <a id="homePage" href="/"><img src="~/svg/TravelerLogo.svg" alt="HomePage" /></a>
                <div class="headerTopLogin">
                    @if (user?.IsAuthenticated == true)
                    {
                        <button id="profileBtn">@user.Name</button>
                        <a id="exit" class="hidden" href="/Account/Logout">Вихід</a>
                    }
                    else
                    {
                        <a class="loginLink" href="/Account/Register">Зареєструватися</a>
                        <a class="loginLink" href="/Account/SignIn">Увійти</a>
                    }
                </div>
            </div>
            <nav class="headerBottom">
                <ul id="mainCategories">
                    <li>
                        <div class="category-box">
                            <a href="/"><img src="~/svg/bed.svg" alt="Ліжко" /></a>
                        </div>
                    </li>
                    <li>
                        <div class="category-box">
                            <a href="/Error/PageUnderConstruction"><img src="~/svg/plane.svg" alt="Літак"></a>
                        </div>
                    </li>
                    <li>
                        <div class="category-box">
                            <a href="/Error/PageUnderConstruction"><img src="~/svg/car.svg" alt="Машина" /></a>
                        </div>
                    </li>
                    <li>
                        <div class="category-box">
                            <a href="/Error/PageUnderConstruction"><img src="~/svg/compass.svg" alt="Компас" /></a>
                        </div>
                    </li>
                    <li>
                        <div class="category-box">
                            <a href="/Error/PageUnderConstruction"><img src="~/svg/taxi.svg" alt="Таксі" /></a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Traveler
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
