html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/* Body start */

body {
    margin-bottom: 60px;
}

/* Body end */

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.invalid-feedback {
    color: red;
    font-size: 0.9em;
}

/*Login*/

.loginBlock {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    font-family: Arial, sans-serif;
    align-items: center;
}

#login h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-error {
    color: #e74c3c;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.text-danger {
    font-size: 12px;
    color: #e74c3c;
    margin-top: 5px;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3246e7;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #258cfb;
}

/*Login*/