html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/* Body start */

body {
    margin-bottom: 60px;
}

.loginBlock {
    display: grid;
    padding: 40px;
    place-items: center;
}

#login {
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    white-space: nowrap;
}

#login h1 {
    font-size: 22px;
    width: 100%;
}

#login input {
    min-width: 100%;
    width: 100%;
    margin-bottom: 10px;
}

#login button {
    margin-top: 10px;
    width: 100%;
}


/* Body end */

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
