html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    background-color: #0e3d8d;
    color: white;
    max-height: 150px;
}

.headerTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.headerTopLogin {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.login {
    text-decoration: none;
    padding: 8px 20px;
    background-color: white;
    color: #0008ff;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.headerTop img {
    width: 17%;
    min-width: 100px;
}

.headerBottom {
    width: 100%;
    max-height: 90px;
}

#mainCategories {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    max-height: 100px;
    padding: 0;
    gap: 2%;
    margin-top: 3%;
}

#mainCategories li {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    overflow: hidden;
    margin-left: 2%;
}

.category-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-height: 44px;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: -20%;
}

.category-box img {
    
}

#mainCategories li:first-child {
    margin-left: 0%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}